<html>
    <head>
        <title>Calculator</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="script" type="text/js" href="script.js">
    </head>
    <body>
        <div class="calculator">
            <div class="calc_body">
                <div class="display">

                </div>
                <div class="button_all">                    
                    <div class="buttons">
                        <button id="one">1</button>
                        <button id="row1">2</button>
                        <button id="row1">3</button>
                        <button id="row1">+</button>
                    </div>
                    <div class="buttons">
                        <button id="row2">4</button>
                        <button id="row2">5</button>
                        <button id="row2">6</button>
                        <button id="row2">-</button>
                    </div>
                    <div class="buttons">
                        <button id="row3">7</button>
                        <button id="row3">8</button>
                        <button id="row3">9</button>
                        <button id="row4">/</button>
                    </div>
                    <div class="buttons">
                        <button id="row4">0</button>
                        <button id="row4">X</button>
                        <button id="row4">⌫</button>
                        <button id="row4">=</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>